*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eed9d9;
}

#container{
    border: 2px solid red;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
#input{
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
#btn{
    padding: 8px 15px;
    background-color: rgb(51, 138, 167);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }